.container {
    width: 966px;
}

.menu {
    margin: 15px 0;
}

.menu-line .menu li a {
    font-size: 19px;
    padding-right: 50px;
    color: #ffffff;
}

.menu-line .menu li a:hover {
    text-decoration: none;
}

.login-form {
    margin: 0 auto;
    padding: 0;
}

.form-signin {
    max-width: 300px;
    padding-top: 40px;
    margin: 0 auto;
}

.menu-line {
    background-color: #0A255F;
    margin-bottom: 50px;
}

.field-statistic-header {
    margin-bottom: 50px;
}

.statistic-regions, .statistic-municipalities {
    margin-top: 50px;
}

.statistic-regions th, .statistic-municipalities th {
    width: 50%;
}
